.containerNavBar{
    display:grid;
    grid-template-columns: 50% 46% 4%;
    background-color: #000;
    align-items: center;
}
.navBarSearchBar{
    width: 33%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    justify-self: end;
    padding: 0px 2%;
}
.navBarInput{
    border: none;
    outline: none;
}
.navBarButton{
    width: 13%;
    height: 75%;
    align-self: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    background-image: url("../../assets/lupa.png");
}
.divNavBarButtons{
    display: flex;
    justify-content: space-evenly;
    padding-left: 3rem;
}
.navBarButtons{
    background-color: transparent;
    border: none;
    color: #fff;
}
.viewNoSelected{
    color: #fff;  
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.viewSelected{
    color: #FE7676;
    font-style: normal;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}